/* Soluzione qui */
.recipe-video > img{
    max-width: 100%;
}

.recipe-video{
    margin-bottom: 45px;
}

/* RESPONSIVE */

/* TABLET */
@media screen and (min-width:768px) {
    
    #topbar{
        justify-content: left;
    }

    .container{
        padding: 20px;
    }
    
    .recipe-origin{
        display: block;
        margin-left: 8px;
    }

    .recipe-name{
        display: flex;
        font-size: 35px;
    }

    .recipe-video{
        margin-bottom: 70px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
      width: calc(100% / 3);  
    }

    .btn{
        padding: 10px 50px;
    }

    .ads{
        display: block;
    }

    .clearfix > img{
        display: inline;
        float: left;
        margin-right: 8px;
    }

}

/* DESKTOP */
@media screen and (min-width:992px) {
    .recipe-card{
        display: flex;
    }

    li{
        width: 100%;

    }

    .quick-notes ul > li{
        margin-bottom: 0px;
    }

    .recipe-video{
        height: auto;
    }

    .social-networks .label{
        display: block;
    }

    .btn{
        display: flex;
    }

    .label{
        padding-left: 5px;
    }

    i{
        margin-top: 2px;
    }

    button .btn{
        width: calc(100% / 5s);
    }

    address{
        text-align: left;
        width: 50%;
    }

    footer{
        display: flex;
    }

    nav{
        display: flex;
        width: 50%;
    }

    footer ul{
        display: contents;
        text-align: right;
    }
}